{% extends "BZUserBundle::layout.html.twig"%}

{% block content_body %}
<form  class="ui-draggable" style="position: relative; left: 20%; top: 20%;margin-top: 10%;" action="{{ path('bz_user_changepassword')}}" method="post" {{ form_enctype(form) }} >
<div class="col-lg-6">
    <div class="panel panel-success">
        <div class="panel-heading">
            REINITIALISATION DE MOT DE PASSE
        </div>
        <div class="panel-body">
          
          {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <a type="button" class="btn btn-sm btn-default " href="{{ path('pub_acceuil')}}"><i class="fa fa-mail-reply"> </i> Retour</a>
                  <button type="submit" class="btn btn-sm  btn-warning" >Réinitialiser</button>
                  <span class='tachat_img hide'><img src="{{ asset('/images/712.GIF') }}" alt="Second slide" class='img-circle' style="height: 20px;width: 20px;"> Enregistrement ...</span>
        </div>
    </div>
</div>
{{ form_rest(form) }}
</form>
{% endblock content_body %}