<div style="display: block;" class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
<form  class="ui-draggable" style="position: relative; left: 424px; top: 229px;" action="{{ path('ajout_document_new',{'id': id}) }}" method="post" {{ form_enctype(form) }} >
<div class="col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            ENREGISTREMENT DE NOUVEAU DOCUMENT
        </div>
        <div class="panel-body">
          {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <a type="button" class="btn btn-sm btn-default " href="#" id="retour" onclick="location.reload();"><i class="icon-arrow-left"> </i> Retour</a>
                  <button type="submit" class="btn btn-sm  btn-primary" > <i class="icon-file-alt"> </i> Ajouter</button>
                  <span class='tachat_img hide'><img src="{{ asset('/images/712.GIF') }}" alt="Second slide" class='img-circle' style="height: 20px;width: 20px;"> Enregistrement ...</span>
        </div>
    </div>
</div>
{{ form_rest(form) }}
</form>
<script>
     $('form').draggable();
   
</script></div>